@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 70vw;
        
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #form {
        width: 60%;
        float: right;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #11294B, #9ACAEB);
    }

    #login {
        width: 800px;
        
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #form {
        width: 60%;
        float: right;
    }

}

@media screen and (min-width: 1200px) {
    body {
        background-image: linear-gradient(to bottom, #11294B, #9ACAEB);
    }

    #login {
        width: 900px;
        
    }

    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #form {
        width: 60%;
        float: right;
    }

}